KC_DB_PASSWORD=password
KC_DB_URL=jdbc:mysql://keycloak_db:3306/keycloak
KC_DB_USERNAME=keycloak
KC_LOG_CONSOLE_COLOR="true"
KC_PROXY=edge
KC_HOSTNAME={{ keycloak.hostname }}

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

JGROUPS_DISCOVERY_PROTOCOL=JDBC_PING
JGROUPS_DISCOVERY_PROPERTIES=datasource_jndi_name=java:jboss/datasources/KeycloakDS,info_writer_sleep_time=500
PROXY_ADDRESS_FORWARDING="true"

MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=keycloak
MYSQL_USER=keycloak
